.header_container {
  padding: 30px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid white;
}

.title {
  font-weight: 600;
  font-size: medium;
}

.nav_container {
  width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.my_info_container {
  width: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main_container {
  margin: 3% 15%;
  height: 100vh;
  justify-content: center;
  display: flex;
  border: 1px solid white;
}
